<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button class="btn-menu" (click)="change()" aria-label="Example icon-button with menu icon">
     <mat-icon>{{ icon }}</mat-icon>
   </button>
   <span>NF's e Faturamentos - Infraestrutura</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<app-side-nav [sideNav] = 'sideNavOpen'></app-side-nav>