* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-instagram .celular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container-instagram .continue {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-height: 34rem;
}

.container-instagram .cel {
    height: 50rem;
}

#logo {
    height: 3rem;
}

#foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

#foto-perfil img {
    height: 6rem;
    border-radius: 50%;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.grupo:nth-child(1) {
    min-height: 19rem;
}

.login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    
}

.remover-conta {
    color: #0095f6;
    margin-top: 10px;
}

.outra-conta {
    color: rgb(160, 160, 160);;
}

.color-blue {
    color: #0095f6;
}


.apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.caixa-icones {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('img/googleplay-button.png');
}



@media (max-width: 1024px) {
    .container-instagram {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .container-instagram {
        width: 100%;
    }

    .container-instagram .celular {
        display: none;
    }

    .continue {
        width: 100%;
    }
    
    .grupo {
        border: 1px solid transparent;
    }
}





