<div class="container">
  <mat-card class="example-card">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>







<!-- <form [formGroup]="formGroup" class="container">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            formControlName="lojas"
            [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of filterOptions" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

  