<div id="nav" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Nome da companhia</h5>
  <nav class="d-line-flex mt-2 mt-md-0 ms-ds-auto ">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Premium</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Preços</a>
      <a class="btn btn-outline-primary" href="#">Cadastro</a>
  </nav>
</div>



