* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #fafafa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    width: 22%;
    padding: 8px;
    margin: 5% auto;
    border: 1px solid #fbfbfb;
    border-radius: 10px;
    background-color: white;
}

.btn, input  {
    padding: 10px;
}

.tarefas {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-height: 200px;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 10px;
    
}

.add-tarefa {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tarefa {
    margin-bottom: 5px;
}
.tarefa label {
    margin-left: 5px;
}

.risco {
    text-decoration: line-through
}