* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #fafafa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    min-height: 280px;
    width: 25%;
    margin: 0 auto;
}

.btn, input  {
    padding: 10px;
}

.tarefas {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.tarefa {
    margin-bottom: 5px;
}